.header-container {
  margin-bottom: 4rem;
  width: 100%;
  background-color: $backgrounColor-03;
  box-shadow: 0 5px 10px $backgrounColor-03;
}

.header-infos {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0;
  span {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.simple-header-infos {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  .title {
    text-shadow: 3px 3px #780000;
    color: $textColor-01;
    font-family: 'Metal Mania', Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
    text-align: center;
  }
}

.header-nav {
  padding-bottom: 1rem;
  text-align: center;
  .to-go-home-screen {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      text-decoration-color: $parentheses;
    }
  }
}
