.game-description-container {
  text-align: center;
  .game-description {
    color: $textColor-01;
    font-size: 2rem;
    padding: 3rem 1rem;
    box-shadow: 0 5px 10px $backgrounColor-03;
  }
}

.home-bnt-container {
  margin-top: 10rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}