.instruction-subtitle {
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem;
  text-align: center;
  text-shadow: 4px 4px 2px $backgrounColor-03;
}

.difficulty-card {
  box-shadow: 0 2px 7px $backgrounColor-03;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  .timer-example {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 1rem 0;
  }
  
  div {
    padding: 0 2rem;
  }

  .difficulty-description {
    font-size: 2rem;
  }

  .scoring-calculation-description {
    font-size: 2rem;
  }

  .instruction-parentheses {
    color:  $parentheses;
    font-weight: 600;
  }

  .instruction-timer-value {
    font-weight: 600;
  }
}