@media (max-width: 700px) {
  //HEADER
  .header-container {
    margin-bottom: 2rem;
  }

  //ALL PAGES
  .main-container {
    width: 100vh;
  }

  //BUTTONS
  .home-bnt-container {
    margin-top: 5rem;
  }

  .generic-bnt-container {
    button {
      &:hover {
        box-shadow: 6px 6px 3px $backgrounColor-03;
      }
    }
  }

  .answer-button-container {
    button {
      width: 90%;
    }
  }

  .button-next {
    width: 100%;
  }

  //MODAL COMPONENT
  .bg-modal {
    width: 100%;
  }

  //PLAYER REPORT CARD
  .player-report-card {
    p {
      max-width: 20rem;
      word-break: break-word;
    }
  }

  .questions-answered {
    display: none;
  }
}
