@media (max-width: 700px) {
  //HOME PAGE
  .main-container {
    width: 100%;
  }

  //BUTTONS
  .generic-bnt-container {
    button {
      &:hover {
        box-shadow: 6px 6px 3px $backgrounColor-03;
      }
    }
  }

  .answer-button-container {
    button {
      width: 70%;
    }
  }

  .button-next {
    width: 100%;
  }

  //MODAL COMPONENT
  .bg-modal {
    width: 100%;
  }
}
