.player-report-card-container {
  background-color: lighten($backgrounColor-02, 2);
}

.player-report-list {
  background-color: lighten($backgrounColor-02, 2);;
  padding-bottom: 2rem;
}

.scoreboard-btn-container {
  display: flex;
}