.player-report-card-container {
  background-color: $backgrounColor-04
}

.player-report-list {
  background-color: $backgrounColor-04;
  padding-bottom: 2rem;
}

.scoreboard-btn-container {
  display: flex;
}