@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Rajdhani:wght@500&display=swap");
.main-container {
  background-color: rgba(33, 37, 41, 0.7);
  height: 100vh;
  margin: auto;
  width: 70rem;
}

:root {
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: border-box;
  color: #e9ecef;
  font-family: Rajdhani, Arial, Helvetica, sans-serif;
}

body {
  background: #343a40;
  font-size: 1.6rem;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: transparent;
  border: 0;
}

.generic-bnt-container {
  padding: 1rem;
  width: 75%;
}
.generic-bnt-container button {
  background-color: #0d1b2a;
  border-radius: 3px;
  box-shadow: 6px 6px 3px #16181b;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  width: 100%;
}
.generic-bnt-container button:hover {
  box-shadow: 4px 4px 5px #16181b;
  cursor: pointer;
}

.header-container {
  margin-bottom: 4rem;
  width: 100%;
  background-color: #16181b;
  box-shadow: 0 5px 10px #16181b;
}

.header-infos {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0;
}
.header-infos span {
  font-size: 1.8rem;
  font-weight: 600;
}
.header-infos .title {
  text-shadow: 3px 3px #780000;
  color: #e9ecef;
  font-family: "Metal Mania", Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  padding: 1rem 0 1rem;
  text-align: center;
}

.game-description-container {
  text-align: center;
}
.game-description-container .game-description {
  color: #e9ecef;
  font-size: 2rem;
  padding: 3rem 1rem;
  box-shadow: 0 5px 10px #16181b;
}

.home-bnt-container {
  margin-top: 10rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.bg-modal {
  align-items: center;
  background-color: rgba(33, 37, 41, 0.7);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 70rem;
  z-index: 10;
}

.modal-container {
  background-color: #16181b;
  border-radius: 5px;
  display: block;
  height: 35rem;
  width: 85%;
}

.close-modal-container {
  text-align: right;
}
.close-modal-container .close-modal {
  cursor: pointer;
  padding: 0.6rem 1rem;
  position: relative;
  right: 0.5rem;
  top: 0.5rem;
  font-size: large;
  font-weight: 600;
}

.generic-input-label {
  padding: 1rem;
  display: block;
  width: 75%;
}
.generic-input-label p {
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
}

.generic-input {
  background-color: #343a40;
  border: 0;
  border-radius: 3px;
  font-size: 2rem;
  padding: 1rem 2.5rem;
  width: 100%;
}
.generic-input:focus-visible {
  outline: none;
  border-bottom: 2px solid;
}

.answer-button-container {
  margin-top: 1.5rem;
  text-align: center;
}
.answer-button-container button {
  background-color: #0d1b2a;
  border-radius: 3px;
  box-shadow: 6px 6px 3px #16181b;
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 50%;
}
.answer-button-container button:disabled {
  background-color: #0f2032;
}

.incorrect:hover {
  box-shadow: 4px 4px 5px #16181b;
  cursor: pointer;
}
.incorrect:disabled {
  box-shadow: 3px 3px 7px #dc2f02;
  cursor: default;
}

.correct:disabled {
  box-shadow: 3px 3px 7px #008000;
  cursor: default;
}

@media (max-width: 700px) {
  .main-container {
    width: 100%;
  }
  .generic-bnt-container button:hover {
    box-shadow: 6px 6px 3px #16181b;
  }
  .answer-button-container button {
    width: 70%;
  }
  .bg-modal {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */